/*.App {
  text-align: center;
}*/


/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
*/
.App {
background-color: #282c34;;
  min-height:100vh;
  padding:50px;
  display:flex;
  justify-content: space-between;
}
.movie {
  border:2px solid #fff;
  padding:10px;
  margin:15px;
  box-shadow: 3px 0px 7px #fff;
  color:#fff
  
}

.movies {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-bottom: 20px;
  padding:10px;
  
} .title {
  color:#fff;
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
 padding:5px;
 text-shadow: 3px 4px 7px #ddd;
}
.list {
  
  width:60%;
  margin:5px;

}
.search {
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:25px
}

.rate {
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:25px
} 
.add {
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:25px;
}
  .tit {
    margin-right:25px;
    font-size: 1.25rem;
  }
  .something {
    height:300px;
    width:40%;
    margin:5px auto;
    box-shadow: 3px 5px 10px #fff;
  }

  @media screen and (max-width: 800px) {
    .search,.rate,.add {
      flex-direction: column;
      text-align:center;
    }
    .something {
      height:450px;
    }
  } 